<div [@routerTransition]>
  <app-page-header [heading]="'จัดการอาจารย์ผู้สอนประจำวิชา'" [icon]="'fa-bar-chart-o'">
  </app-page-header>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">เพิ่มอาจารย์ <input #inputFile style="float: right;" type="file" class="upload" (change)="changeListener($event.target.files)"></div>
        <div class="card-body">
          <table datatable class="row-border hover">
            <thead>
              <th *ngFor="let item of data.theader">{{item}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let items of data.tbody">
                <td *ngFor="let item of items">{{item}}</td>
              </tr>
            </tbody>
          </table>
          <a (click)="onUpload()"><button style="width: 100%;">upload</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">รายชื่ออาจารย์</div>
        <div class="card-body">
          <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teach of teach_arr">
                <td>{{teach.teach_code}}</td>
                <td>{{teach.teach_name}}</td>
                <td>{{teach.teach_lastname}}</td>
                <td>
                  <a [routerLink]="['/imp-stu']" [queryParams]="{id: teach.teach_code}">
                    กรอกคะแนน
                  </a>
                </td>
              </tr>
            </tbody>
            <!-- <tfoot>
                      <tr>
                        <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                        <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
                        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                      </tr>
                    </tfoot> -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
