
  <h2 class="text-muted">หน้าหลัก</h2>
  <div class="row">
    <div class="col-xl-6 col-lg-6" style="padding: 15px;">
      <div class="card text-white bg-primary">
        <a [routerLink]="['/teacher']" style="color: #ffffff;">
          <div class="card-header">
            <div class="row">
              <div class="col col-xs-3">
                <i class="fa fa-address-book fa-5x"></i>
              </div>
              <div class="col col-xs-9 text-right">
                <div class="d-block">จัดการอาจารย์ผู้สอนประจำวิชา</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6" style="padding: 15px;">
      <div class="card text-white bg-warning">
        <a [routerLink]="['/subject']" style="color: #ffffff;">
          <div class="card-header">
            <div class="row">
              <div class="col col-xs-3">
                <i class="fa fa-book fa-5x"></i>
              </div>
              <div class="col col-xs-9 text-right">
                <div class="d-block">จัดการวิชา</div>
              </div>
            </div>
          </div>
        </a>
      </div>


    </div>
  </div>
</div>
