<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>PIMSMPP MANAGEMENT</h1>
      <h4 style="color: #ff0000" >{{err_msg}}</h4>
      <form name="form" (ngSubmit)="f.form.valid && onLoggedin()" #f="ngForm" novalidate>
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" name="username" [(ngModel)]="model.username"
              placeholder="{{ 'Username' | translate }}" required />
          </div>
          <div class="form-group">
                <input type="password" class="form-control input-underline input-lg" name="password" [(ngModel)]="model.password"
                placeholder="{{ 'Password' | translate }}" required />
            <!-- <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}"> -->
          </div>
        </div>
        <a class="btn rounded-btn"  (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
        &nbsp;
      </form>
    </div>
  </div>
</div>
