<!-- <div [@routerTransition]> -->
<app-page-header [heading]="'คะแนนนักศึกษา'" [icon]="'fa-bar-chart-o'">
</app-page-header>
<div class="card mb-3">
  <div class="card-header">{{model.subject_code+" ปีการศึกษา "+model.class_year+" ภาคการเรียนที่ "+model.term}} </div>
  <div class="card-body">
    <table datatable class="row-border hover">
      <thead>
        <th class="text-center"> รหัสนักศึกษา </th>
        <th class="text-center"> ชื่อ-นามสกุล </th>
        <th class="text-center" *ngFor="let title of model.title">{{title}}</th>
        <th class="text-center"> คำแนะนำ </th>
        <th>&nbsp;</th>
        <!-- <th class="text-center" *ngFor="let item of data.theader">{{item}}</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let items of model.stu_in_class | keyvalue">
          <td class="text-center">{{items.value.stu_code}}</td>
          <td class="text-center">{{items.value.stu_name}}</td>
          <td class="text-center" *ngFor="let item of items.value.detail.pre">{{item}}</td>
          <td class="text-center">{{items.value.comment}}</td>
          <td class="text-center"><a style="cursor: pointer;" (click)="open(content,items.key)"><i class="fa fa-pencil"
                aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
      <!-- <tfoot>
                      <tr>
                        <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                        <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
                        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                      </tr>
                    </tfoot> -->
    </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">แก้ไขคะแนนนักศึกษา</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid && onUpdate()" #f="ngForm" novalidate>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="subjectCode">รหัสนักศึกษา</label>
          <input type="text" class="form-control" name="stu_code" [(ngModel)]="data_update.stu_code" #stuCode="ngModel"
            required />
          <div *ngIf="f.submitted && stuCode.invalid" class="invalid-feedback">
            <div *ngIf="stuCode.errors.required">
              รหัสนักศึกษาไม่ควรว่าง
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="subjectCode">ชื่อ</label>
          <input type="text" class="form-control" name="stu_name" [(ngModel)]="data_update.stu_name" #stuName="ngModel"
            required />
          <div *ngIf="f.submitted && stuName.invalid" class="invalid-feedback">
            <div *ngIf="stuName.errors.required">
              ชื่อนักศึกษา
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let title_update of model.title | keyvalue">
        <div class="form-group col-md-12">
          <label for="subjectCode">{{title_update.value}}</label>
          <input type="text" class="form-control" name="score[{{title_update.key}}]" [(ngModel)]="data_update.detail.pre[title_update.key]" 
            required />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">แก้ไข</button>
  </div>
</ng-template>

<!-- </div> -->
