<app-header></app-header>
<!-- <app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>  -->
<!-- <section class="main-container" [ngClass]="{collapsed: collapedSideBar}"> -->
    <div style="padding: 20px"><router-outlet></router-outlet></div>
    
<!-- </section> -->
