<div [@routerTransition]>
  <app-page-header [heading]="'จัดการรายวิชา'" [icon]="'fa-bar-chart-o'">
  </app-page-header>
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">เพิ่มรายวิชา</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="subjectCode">รหัสวิชา</label>
                    <input type="text" class="form-control" name="subject_code" [(ngModel)]="model.subject_code"
                      #subjectCode="ngModel" [ngClass]="{
                            'is-invalid': f.submitted && subjectCode.invalid
                          }"
                      required />
                    <div *ngIf="f.submitted && subjectCode.invalid" class="invalid-feedback">
                      <div *ngIf="subjectCode.errors.required">
                        รหัสวิชาไม่ควรว่าง
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-9">
                    <label for="lastName">ชื่อวิชา</label>
                    <input type="text" class="form-control" name="subject_name" [(ngModel)]="model.subject_name" #subjectName="ngModel"
                      [ngClass]="{
                            'is-invalid': f.submitted && subjectName.invalid
                          }"
                      required />
                    <div *ngIf="f.submitted && subjectName.invalid" class="invalid-feedback">
                      <div *ngIf="subjectName.errors.required">
                        ชื่อวิชาไม่ควรว่าง
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary">เพิ่ม</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="card mb-3">
          <div class="card-header">รายวิชา</div>
          <div class="card-body">
              <table datatable   class="row-border hover">
                  <thead>
                    <tr>
                      <th>รหัสวิชา</th>
                      <th>ชื่อวิชา</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let subject of subject_arr">
                          <td>{{subject.subject_code}}</td>
                          <td>{{subject.subject_name}}</td>
                        </tr>
                    
                  </tbody>
                  <!-- <tfoot>
                      <tr>
                        <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                        <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
                        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                      </tr>
                    </tfoot> -->
                </table>
          </div>
        </div>
      </div>
    </div>
</div>
