<!-- <div [@routerTransition]> -->
    <app-page-header [heading]="'รายละเอียด'" [icon]="'fa-bar-chart-o'">
      </app-page-header>
    <div class="card mb-3">
        <div class="card-header">{{"อาจารย์ "+model.teach_name+" "+model.teach_lastname}} <a [routerLink]="['/imp-stu']" [queryParams]="{id: id}"  style="float: right;">เพิ่มรายวิชา</a></div>
        <div class="card-body">
          <div class="row">
          
              <div *ngFor="let item of  model.subject_detail" class="col-xl-6 col-lg-6" style="padding: 15px;">
                <div class="card text-white bg-success">
                  <a [routerLink]="['/stu-score']" [queryParams]="{id: item.subject_code,y:item.class_year,t:item.term}" style="color: #ffffff;">
                    <div class="card-header">
                      <div class="row">
                        <div class="col col-xs-3">
                          <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                          <div class="d-block">
                            {{item.subject_code}}
                            <p>{{"ปีการศึกษา "+item.class_year+" ภาคการเรียนที่ "+item.term}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
          
          
              </div>
            </div>
        </div>
      </div>
  
<!-- </div> -->
