<div [@routerTransition]>
  <app-page-header [heading]="'กรอกคะแนนนักศึกษา'" [icon]="'fa-bar-chart-o'">
  </app-page-header>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">{{"อาจารย์ "+teacher.teach_name+" "+teacher.teach_lastname}}
          <input style="float: right;" #inputFile type="file" class="upload" (change)="changeListener($event.target.files)"></div>
        <div class="card-body">
          <form name="form" (ngSubmit)="f.form.valid && onUpload()" #f="ngForm" novalidate>
            <div class="row">
              <div class="form-group col-md-5">
                <label>วิชาที่สอน</label>
                <select class="form-control" name="subject_code" [(ngModel)]="model.subject_code" #subjectCode="ngModel"
                  [ngClass]="{
                  'is-invalid': f.submitted && subjectCode.invalid
                }"
                  required>
                  <option *ngFor="let item of subject" value="{{item.subject_code+'-'+item.subject_name}}">{{item.subject_code+" -
                    "+item.subject_name}}</option>
                </select>
                <div *ngIf="f.submitted && subjectCode.invalid" class="invalid-feedback">
                  <div *ngIf="subjectCode.errors.required">
                    รหัสวิชาไม่ควรว่าง
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label for="subjectCode">ปีการศึกษา</label>
                <select class="form-control" name="class_year" [(ngModel)]="model.class_year" #classYear="ngModel"
                  [ngClass]="{
                  'is-invalid': f.submitted && classYear.invalid
                }"
                  required>
                  <option value="2562">2562</option>
                  <option value="2561">2561</option>
                  <option value="2560">2560</option>
                  <option value="2559">2559</option>
                </select>
                <div *ngIf="f.submitted && classYear.invalid" class="invalid-feedback">
                  <div *ngIf="classYear.errors.required">
                    ปีการศึกษาไม่ควรว่าง
                  </div>
                </div>
              </div>
              <div class="form-group col-md-3">
                <label>ภาคการศึกษา</label>
                <select class="form-control" name="term" [(ngModel)]="model.term" #Term="ngModel" [ngClass]="{
                      'is-invalid': f.submitted && Term.invalid
                    }"
                  required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <div *ngIf="f.submitted && Term.invalid" class="invalid-feedback">
                  <div *ngIf="Term.errors.required">
                    ภาคการศึกษาไม่ควรว่าง
                  </div>
                </div>
              </div>
            </div>
          
          <table datatable class="row-border hover">
            <thead *ngIf="show_tbl">
              <th class="text-center"> สถานะ </th>
              <th class="text-center" *ngFor="let item of data.theader">{{item}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let items of data.tbody | keyvalue">
                  <td class="text-center"><i class="{{data.status[items.key]}}" ></i></td>
                <td class="text-center" *ngFor="let item of items.value">{{item}}</td>
              </tr>
            </tbody>
            <!-- <tfoot>
                  <tr>
                    <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                    <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
                    <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                  </tr>
                </tfoot> -->
          </table>
          <button [disabled]="show_msg" style="width: 100%;">upload</button>
          <p>
          <div class="text-center" *ngIf="show_msg" class="alert alert-danger mb-0">{{msg}}</div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
